@import './fonts.css';
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
  scroll-behavior: smooth;
}
.container{
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
a{
  text-decoration: none;
  color: black;
}
button{
  border: 0;
  cursor: pointer;
}